body {
    display: block;
    margin: 0;
    padding: 0;
}

html {
    font-size: 5.0vmin;
}

.header-region {
    background-color: rgb(255,200,200);
    height: 10vh;
}

.content-region {
    background-color: rgb(200,255,200);
    height: 80vh;
}

.footer-region {
    background-color: rgb(200,200,255);
    height: 10vh;
}

.button {
    background-color: rgb(255,255,255);
    font-size: 5.0vmin;
    display: inline-block;
    float: right;
    width: 30vw;
    height: 8vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 2.5vw;
}