body {
    display: block;
    margin: 0;
    padding: 0;
}

html {
    font-family: helvetica;
}

.header-region {
    background-color: rgb(140,220,255);
    height: 10vmin;
}

.header-region .points {
    text-align: right;
    font-size: 4vmin;
    margin-right: 1vmin;
}

.content-region {
    background-color: rgb(250,250,250);
    height: 80vh;
}

.footer-region {
    background-color: rgb(140,220,255);
    height: 10vh;
}

.button {
    background-color: rgb(250,250,255);
    font-size: 4vmin;
    display: inline-block;
    float: right;
    width: 30vw;
    height: 7vh;
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    margin-right: 2.5vw;
}